#logo{
    float: left;
}
.botao{
    float: left;
    margin-left: 60px;
    margin-top: 10px;
    height: 100px;
    width: 150px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;   
    text-align: center;
}


.botao ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.botao a{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}

#botao1{
    background-image: linear-gradient(to top, #890000, #ff0000);
}

#botao2{
    background-image: linear-gradient(to top, #0047ab, #00a1ff);
}

#botao3{
    background-image: linear-gradient(to top, #008000, #00ff00);
}
#botao4{
    background-image: linear-gradient(to top, #46295A, #BC6FF1);
}